body{
    margin:0px;
    font-family:Helvetica, Arial, sans-serif;
}
.container{
    height:785px
}
.header{
    width:100%;
    height:85px;
    background:#633b98;
    float:left;
}
.first{
    width:50%;
    float:left;
    padding-top:33px
}
.second{
    width:50%;
    float:left
}
.body{
    width:100%;
    height:700px;
    background:rgb(65, 9, 97);
    float:left
}
.logo{
    color:aliceblue;
    font-size: 35px;
    font-family:Helvetica, Arial, sans-serif;
    font-weight:bold;
    text-decoration: none;
    margin-left: 100px;
    margin-top: 10px;
    cursor:pointer
}
.color{
    color:aliceblue;
    font-size: 11px;
}
.button{
    background:#4c188f;
    color:#f8faff;
    height:20px;
    font-size:10px;
    cursor:pointer
}
.button:hover{
    background:#71239e
}
.go1{
    width:50%;
    height:700px;
    float:left;
    background:#fff
}
.go2{
    width:50%;
    height:700px;
    float:left;
    background:rgb(255, 255, 255);
}
.notes{
    margin-left:60px;
    color:#4c188fd2;
    margin-top:10px
}
.flag{
    height:297px;
    width:450px;
    margin-left:60px;
    margin-top:20px
}
.notes2{
    margin-left:60px;
    color:#4c188fc0;
    margin-top:10px;
    font-size: 24px;
}   
.form1{
    margin-top: 30px;
    margin-left:120px
}
.label1{
    color:#71239e;
    font-size: 20px;
}
.a{
    border-radius:10px;
    text-align:center;
    width:300px
}
.x{
    
}
.b{
    color:#4c188f;
    font-weight: bold;
    font-size: 15px;
    margin-left:2px;
}
.a{
    width:300px;
    text-align: center;
    border-radius: 10px;
    border-color: rgb(0, 204, 255);
}
.sign-button{
    border-radius: 10px;
    margin-left:120px;
    background:#4c188f;
    color:#fff;
    cursor:pointer;
}
.sign-button:hover{
    background:#6221b8
}
.footer-bitch{
    height:40px;
    width:100%;
    background:#71239e;
    padding-top: 20px;
}
.bitches{
    color:#fff;
    margin-left:20px;
    margin-top:0px
}
